recent-posts__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.recent-posts__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 48px;
	line-height: 104%;
	letter-spacing: -0.02em;
	color: #333;
}

.recent-posts__view-all {
	border-radius: 8px;
	padding: 16px 48px;
	width: 147px;
	height: 53px;
	background: #7c4ee4;

	font-family: var(--second-family);
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #fff;
}

.featured-post {
	display: flex;
	gap: 30px;
	margin-bottom: 60px;
	align-items: center;
}

.featured-post__image {
	flex: 0 1 50%;
}

.featured-post__image img {
	width: 100%;
	height: 450px;
	object-fit: cover;
	border-radius: 16px;
	padding: 0;
}

.featured-post__content {
	flex: 0 1 50%;
}

.featured-post__meta {
	display: flex;
	gap: 15px;
	margin-bottom: 16px;
}

.featured-post__category {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	color: #333;
}
.featured-post__date {
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	color: #999;
}

.featured-post__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	line-height: 141%;
	letter-spacing: -0.03em;
	color: #333;
}

.featured-post__excerpt {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #666;
}

.featured-post__link {
	border: 1px solid #7c4ee4;
	border-radius: 8px;
	padding: 16px 48px;
	width: 125px;
	height: 40px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #7c4ee4;
}

.recent-posts__l {
	display: flex;
	flex-direction: row;
	gap: 30px;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-card {
	display: flex;
	flex-direction: column;
	flex: 0 1 calc(33.33% - 20px);
}

.post-card__image {
	width: 100%;
	margin-bottom: 16px;
}

.post-card__image img {
	border-radius: 16px;
	width: 100%;
	height: 280px;
	object-fit: cover;
	padding: 0;
}

.post-card__left {
	display: flex;
	gap: 11px;
	margin-bottom: 12px;
}

.post-card__category {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	color: #333;
}

.post-card__date {
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	color: #999;
}

.post-card__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	text-transform: capitalize;
	color: #333;
}

.post-card__text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #666;
}

.post-card__link {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #7c4ee4;
}


body{
    background: black;
}

@media (max-width:1024px) {
    body{
        background: red;
    }
}

@media (max-width: 764px) { 
    body{ 
        background: violet;
    }
}

@media (max-width: 375px) {
    body{ 
        background: pink;
    }
}